<div id="showLogin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" data-controller="login-signup">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div @click.away="showLogin=false" class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6" style="min-width:35rem;">
        <div class="flex flex-row">
            <svg @click="showLogin = false" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute align-left cursor-pointer top-0 left-0 mt-6 ml-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          <span class="text-gray-900 ml-auto mr-auto text-xl">sign in</span>
        </div>
        <hr class="absolute border-b border-gray-300 w-full mt-4 -ml-6"/>
        <div class="mt-5 sm:mt-8 flex flex-col w-full">
          <span class="text-gray-900 tracking-wide text-2xl mb-4">Welcome to Airbnb</span>
          <%= f.label :email, :class => "text-gray-700 font-semilight tracking-wider text-sm" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "rounded-md border border-gray-700 w-full py-2 px-2" %>  
          <%= f.label :password, :class => "text-gray-700 font-semilight tracking-wider text-sm" %><br />
          <%= f.password_field :password, autocomplete: "current-password", :class => "rounded-md border border-gray-700 w-full py-2 px-2" %>
          <% if devise_mapping.rememberable? %>
            <div class="field py-4">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <%= f.submit "Continue", :class => "cursor-pointer inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-400 sm:text-sm mb-4" %>
        </div>
        <%= render partial:"devise/shared/links", locals: {login_btn: false} %>
        <% end %>
      </div>
    </div>
  </div>
</div>