<div class="py-2 px-2 flex flex-col items-center">
  <span class="text-gray-900 text-md">Add a New City</span>
  <div class="mr-auto ml-auto">
    <%= form_with do |form| %>
      <div class="flex flex-row space-x-2">
        <div class="flex flex-col space-y-2">
          <%=form.label :city_name, class: "text-gray-900 text-sm" %>
          <%=form.label :country, class: "text-gray-900 text-sm" %>
          <%=form.label :display_image, "Image", class: "text-gray-900 text-sm mt-2" %>
        </div>

        <div class="flex flex-col space-y-2">
          <%=form.text_field :city_name, class: "border border-gray-900 rounded-md" %>
          <%=form.select :country, Constants::COUNTRIES, {}, {required: 'true', class: 'bg-white border border-gray-900 rounded-md py-1'}%>
          <%=form.text_field :display_image, class: "border border-gray-900 rounded-md"%>
        </div>
      </div>
      <%= form.submit "Add City", class: "mt-2 bg-green-400 tracking-wide px-2 rounded-md text-gray-900 text-sm py cursor-pointer"%>
    <% end %>
    </div>
</div>

