<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/npm/alpine-turbo-drive-adapter@2.0.x/dist/alpine-turbo-drive-adapter.min.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>

  <body>
    <div>
      <%= render "layouts/navbar" %>
      <% if request.path.start_with?("/admin") %>
        <%= render partial: "admin/shared/admin_nav" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
